"use strict";

if (typeof MeinAutoJs.test.template === 'undefined') {MeinAutoJs.test.template = {};}

/**
 * @class
 */
MeinAutoJs.test.template.ModuleTest = new function () {
    /**
     * test {@link MeinAutoJs.template.ModuleTest.layout} is setted
     * @param {MeinAutoJs.test.Unit.assert} assert
     * @param {MeinAutoJs.template.ModuleTest} moduleClass
     */
    this.testHasLayout = function (assert, moduleClass) {
        assert.ok(moduleClass.layout, "has layout");
    };
};
