"use strict";

/**
 * @class
 */
MeinAutoJs.define('MeinAutoJs.test.template.ModuleTest', new function () {
    /**
     * @description test {@link MeinAutoJs.template.Module.layout} is setted
     * @param {MeinAutoJs.test.Unit.assert} assert
     * @param {MeinAutoJs.template.Module} moduleClass
     */
    this.testHasLayout = function (assert, moduleClass) {
        assert.ok(moduleClass.layout, "has layout");
    };
});
